<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="user">

    <select id="finds" resultType="com.wymm.custom.mybatis.entity.User">
        select * from user
    </select>

    <select id="findByName" resultType="com.wymm.custom.mybatis.entity.User" paramterType="com.wymm.custom.mybatis.entity.User">
        select * from user where name=#{name}
    </select>

</mapper>