<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    
    <Loggers>
        <!--设置启动的Appender-->
        <!--设置日志级别，低于该级别日志不打印-->
        <Root level="info">
            <AppenderRef ref="consoleAppender"/>
            <AppenderRef ref="foutAppender"/>
            <AppenderRef ref="AsyncAppender"/>
        </Root>
        
        <!--AsyncRoot替换Root开启异步记录-->
        <!-- 也可以通过系统属性开启异步记录`Log4jContextSelector`设置为`org.apache.logging.log4j.core.async.AsyncLoggerContextSelector`-->
        <!--<AsyncRoot level="info">-->
        <!--    <AppenderRef ref="stdout"/>-->
        <!--</AsyncRoot>-->
    
        <Logger name="com.wymm.log4j.logger" level="trace">
            <AppenderRef ref="consoleAppender"/>
        </Logger>
    </Loggers>
    
    <Appenders>
        
        <!--SYSTEM_OUT：输出到控制台-->
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %c{1.}.%M:%L : %m%n"/>
            <!--<PatternLayout pattern="%d %-5p %l %m%n"/>-->
        </Console>
        
        <!--需要使日志写到文件-->
        <File name="foutAppender" fileName="./logs/log4j-sample.log" append="true">
            <PatternLayout pattern="%d %-5p %c{1.}.%M:%L %m%n"/>
        </File>
    
    </Appenders>
</Configuration>