##导入宏定义
$!{define.vm}
$!{init.vm}
##设置表后缀（宏定义）
#setTableSuffix("AddVO")
##保存文件（宏定义）
#save("/model/vo", "AddVO.java")
##包路径（宏定义）
#setPackageSuffix("model.vo")
##定义包路径
#set($package = $!{tableInfo.savePackageName})
##定义类名
#set($className = $!{tableInfo.name})
##初始化列状态
#initColumnState()
##自动导入包（全局变量）
$!autoImport
import lombok.Data;
import lombok.EqualsAndHashCode;
import com.suntek.common.core.base.BaseVO;
import java.math.BigDecimal;
import cn.hutool.core.date.DatePattern;
import com.fasterxml.jackson.annotation.JsonFormat;
import java.util.Date;
import java.time.LocalDateTime;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.NoArgsConstructor;

##表注释（宏定义）
#tableComment("值对象类")
@Data
@NoArgsConstructor
public class ${className}AddVO {

#foreach ($column in $tableInfo.otherColumn)

 #if(!$!{column.ext.get("隐藏列")})
  #if($!{column.shortType} == "Date")
    @JsonFormat(pattern = DatePattern.NORM_DATETIME_PATTERN, timezone = "Asia/Shanghai" )
    @ApiModelProperty(value = "$!{tool.escapeDoubleQuotes($!{column.comment})}" )
    private $!{column.shortType} $!{column.name};
  #elseif($!{column.shortType} == "LocalDateTime")
    @ApiModelProperty(value = "$!{tool.escapeDoubleQuotes($!{column.comment})} " + DatePattern.NORM_DATETIME_PATTERN)
    private $!{column.shortType} $!{column.name};
  #else
    @ApiModelProperty(value = "$!{tool.escapeDoubleQuotes($!{column.comment})}" )
    private $!{column.shortType} $!{column.name};
  #end
 #end
#end
}
