##引入mybatis支持
$!{mybatisSupport.vm}
##设置保存名称与保存位置
$!callback.setFileName($tool.append($!{tableInfo.name}, "Mapper.xml"))
$!callback.setSavePath($tool.append($modulePath, "/src/main/resources/mapper"))
##定义包路径
#set($package = $!{tableInfo.savePackageName})
##定义类名
#set($className = $!{tableInfo.name})

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.mapper.${className}Mapper">

    <select id="pageList" resultType="${package}.model.dto.${className}DTO">
        SELECT 
            *
        FROM
            ${tableInfo.obj.name}
        <where>
#foreach ($column in $tableInfo.fullColumn)
  #if($!{column.ext.get("显示在筛选")} == "文本输入（=）")
    #if($!{column.shortType} == "String")
        <if test="vo.$!{column.name} != null and vo.$!{column.name} != ''">
             and $column.obj.name = #{vo.$!{column.name}}
        </if>
    #else
        <if test="vo.$!{column.name} != null">
             and $column.obj.name = #{vo.$!{column.name}}
        </if>
    #end
  #elseif($!{column.ext.get("显示在筛选")} == "文本输入（like）")
    #if($!{column.shortType} == "String")
        <if test="vo.$!{column.name}RangeLike != null and vo.$!{column.name}RangeLike != ''">
             and $column.obj.name like concat('%', #{vo.$!{column.name}RangeLike}, '%')
        </if>
    #else
        未知异常
    #end
  #elseif($!{column.ext.get("显示在筛选")} == "下拉选择器（且）")
        <if test="vo.$!{column.name}List != null and vo.$!{column.name}List.size() > 0">
            and $column.obj.name in
            <foreach collection="vo.$!{column.name}List" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
  #elseif($!{column.ext.get("显示在筛选")} == "下拉选择器（或）")
        <if test="vo.$!{column.name}List != null and vo.$!{column.name}List.size() > 0">
            and <foreach collection="vo.$!{column.name}List" item="item" separator=" or " open="(" close=")">
                ($column.obj.name = #{item})
            </foreach>
        </if>
  #elseif($!{column.ext.get("显示在筛选")} == "范围选择器")
          <if test="vo.$!{column.name}RangeFrom != null and vo.$!{column.name}RangeTo != null">
             and $column.obj.name <![CDATA[ >= ]]> #{vo.$!{column.name}RangeFrom}
             and $column.obj.name <![CDATA[ <= ]]> #{vo.$!{column.name}RangeTo}
        </if>
  #end
#end
        </where>
    </select>
    
</mapper>
