<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">
    <property name="logPath" value="./logs"/>
    <property name="applicationName" value="app"/>
    <property name="formatpattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Shanghai} [%t] %-5level %logger{50} [%file : %line] - %msg%n"/>
    <property name="maxhis" value="7"/>
    <property name="maxsize" value="200MB"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${formatpattern}</pattern>
            <!-- <charset>UTF-8</charset> -->
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>